# Ignore unnecessary files
.DS_Store
*.log
__pycache__/
.vscode/
*.bin
*.pt
*.pth
former/
wandb/
analyze/
inference_result/
dataset/
*.json
*.txt
cache_images/
physionet.org/
saved_images/
attention_outputs/
trained_models/
